[Desktop Entry]
Name=Knilist
GenericName=AniList Client
Comment=Manage, track, and sync your anime and manga watchlists natively
Keywords=anime;manga;anilist;tracker;otaku;
Exec=knilist
Icon=com.github.abdul-rafay-mirza.knilist
Type=Application
Terminal=false
Categories=Utility;Network;
